.product_sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 357px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .product_sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .product_sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 993px) and (max-width: 1290px) {
  .product_sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
