.hero_section {
  padding-top: 229px;
  background-image: url("../../../assets/images/hero.jpg");
  background-size: 3000px;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 1221px;
}
.hero_headText {
  font-size: 80px;
  line-height: 96px;
  line-height: 120%;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 33px;
}
.hero_headText span {
  background: linear-gradient(180deg, #c1842d 0%, #ecc974 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.hero_btn {
  display: inline-block;
  padding: 2px;
  outline: none;
  border: 0;
  border-radius: 50px;
  text-transform: capitalize;
  background: linear-gradient(90deg, #db5095 0%, #1945e8 100%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero_btn:hover span {
  background-color: transparent;
}
.hero_btn span {
  display: inline-block;
  background-color: #22242d;
  font-size: 22px;
  line-height: 140%;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-radius: 50px;
  padding: 16px 28px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.hero_search {
  margin-top: 148px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.search {
  width: 612px;
  max-width: 100%;
  margin: 0 auto;
  height: 75px;
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background: rgba(67, 67, 67, 0.16);
  backdrop-filter: blur(204px);
}
.search_input {
  display: block;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 25px;
  padding-left: 83px;
}
.search_icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  left: 40px;
  top: 25px;
}

@media only screen and (min-width: 357px) and (max-width: 768px) {
  .hero_section {
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
  .hero_headText {
    font-size: 50px;
  }
  .hero_section {
    padding-top: 300px;
  }
  .hero_btn span {
    font-size: 17px;
  }
  .hero_headText {
    font-size: 40px;
  }
  .hero_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
  }
  .search {
    height: 55px;
  }
  .search_input {
    padding-left: 60px;
    font-size: 16px;
  }
  .search_icon {
    left: 22px;
    top: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero {
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
  .hero_headText {
    font-size: 60px;
  }
  .hero_headText span {
    background: linear-gradient(180deg, #c1842d 0%, #ecc974 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
  }
}
