.add_section {
  background-image: url("../../../assets/images/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 812px;
  margin-top: 160px;
  z-index: 999;
  width: 100%;
  position: absolute;
}
@media only screen and (min-width: 357px) and (max-width: 768px) {
  .add_section {
    margin-top: 64px;
    min-height: 412px;
  }
}

@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 1280px) {
}
