@font-face {
  font-family: NeueMontreal;
  src: url("../src/assets/fonts/NeueMontreal-Regular.otf");
}
@font-face {
  font-family: impact;
  src: url("../src/assets/fonts/impact.ttf");
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-neueMontreal: NeueMontreal, "sans-serif";
  --font-impact: impact, "sans-serif";
  --color-buttonText: #1f1f1f;
  --color-white: #faf8f2;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(250, 248, 242, 0.3) #283675;
}

body {
  font-family: "Neue Montreal";
  font-size: 16px;
  color: #ffffff;
  background: #1c1c1c;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
  margin: 0px;
}
.container {
  width: 1170px;
  max-width: 96%;
  margin: 0 auto;
  padding: 0;
}
.gradient-border {
  position: relative;
  border-radius: 50px;
  padding: 10px;
  background: #e1c06e;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(180deg, #c1842d 0%, #ecc974 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  text-align: center;
}
.signUp-btn:hover,
.signUp-btn:focus {
  background: linear-gradient(180deg, #c1842d 0%, #ecc974 100%);
}

.draw-border {
  box-shadow: inset 0 0 0 1px #faf8f2;
  color: #faf8f2;
  transition: color 0.25s 0.083s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 50px;
}

.draw-border::after {
  border-top-width: 1px;
  border-right-width: 1px;
  border-radius: 50px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffe593;
  border-radius: 50px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.navbar {
  padding: 30px 0 10px;
  transition: 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  max-width: 111px;
  height: 139px;
  transition: all 0.3s;
}
.right-nav {
  height: 139px;
  display: none;
}
.hero {
  padding-top: 196px;
  background-image: url("/public/hero.jpg");
  background-size: 3000px;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 1220px;
}

.scroll-to-top {
  background-color: #86371c !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 100% !important;
  width: 40px;
  height: 40px;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 357px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .navbar {
    padding: 10px 0;
    width: 100vw;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .logo {
    max-width: 57px;
    height: 72px;
  }
  .right-nav {
    height: 72px;
    display: flex;
  }
  .right-nav-part {
    display: none;
  }
  .right-nav-part-mobile {
    visibility: visible;
  }
  .hero {
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    padding: 10px 0;
    width: 100vw;
  }
  .logo {
    max-width: 80px;
  }
  .hero {
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar {
    padding: 15px 0;
    width: 100vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
