@font-face {
  font-family: "NeueMontreal";
  font-weight: 400;
  src: url("../src/assets/fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "NeueMontreal";
  font-weight: 500;
  src: url("../src/assets/fonts/NeueMontreal-Medium.otf");
}

@font-face {
  font-family: impact;
  src: url("../src/assets/fonts/impact.ttf");
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-neueMontreal: "NeueMontreal", sans-serif;
  --font-impact: impact, "sans-serif";
  --color-black: #1f1f1f;
  --color-white: #faf8f2;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(250, 248, 242, 0.3) #753e28;
}

body {
  font-family: "Neue Montreal";
  font-size: 16px;
  color: #ffffff;
  background: #1c1c1c;
  background-repeat: no-repeat;
  background-size: 1440px;
  min-height: 6447px;
  background-position: top center;
  margin: 0px;
}

.container {
  width: 1170px;
  max-width: 96%;
  margin: 0 auto;
  padding: 0;
}

.category_section {
  background-position: top center;
  background-repeat: repeat-y;
  padding-top: 199px;
  /* background-image: url("../src/assets/images/Hero.png"); */
  background-size: 3000px;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 2524px;
}
.category_section {
  background-image: url("../src/assets/images/bg_artwork (2).png") !important;
  /* background-size: contain; */
}

.category-content {
  margin-top: -410px;
  padding-bottom: 160px;
}
.section_title {
  text-transform: capitalize;
  text-align: center;
  font-size: 48px;
  line-height: 57px;
  font-weight: 400;
}
.text-gold-gradient-1 {
  background: linear-gradient(to bottom, #c1842d, #ecc974);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.last_section {
  margin-top: 70px !important;
  background-position: top center;
  /* background-repeat: repeat-y; */

  /* background-image: url("../src/assets/images/Hero.png"); */
  background-size: 3000px;
  /* background-position: top center; */
  background-repeat: no-repeat;
  min-height: 2524px;
}
.last_section {
  background-image: url("../src/assets/images/bg_artwork (2).png") !important;
  /* background-size: contain; */
}

.scroll-to-top {
  background-color: #86371c !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 100% !important;
  width: 40px;
  height: 40px;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 357px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .right-nav {
    height: 72px;
    display: flex;
  }
  .right-nav-part {
    display: none;
  }
  .right-nav-part-mobile {
    visibility: visible;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .hero {
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1290px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1290px) {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: none !important;
  /* left: 10px; */
}
.a {
  position: relative;
}
.a::after {
  content: " ";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.4s;
}

.a:hover::after,
.a:active::after {
  width: 70%;
}
