.last_section {
  margin-top: 70px !important;
  background-position: top center;
  background-image: url("../../../assets/images/bg_artwork (2).png");
  background-size: 3000px;
  background-repeat: no-repeat;
  min-height: 2524px;
}

.draw-border__ {
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(82, 86, 108, 0.7) 100%
  );
}

@media only screen and (min-width: 357px) and (max-width: 768px) {
  .last_section {
    margin-top: -332px !important;
    min-height: 1100px;
    background-position: 60% top;
    background-size: 2300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
}
